<%- include('partials/header', { activePage: 'about' }) %>

<section id="page-header" class="about-header">
    <h2>#Criminals</h2>
    <p>"Criminals: Breaking the Rules of Ordinary Shopping"</p>
</section>

<section id="about-head" class="section-p1">
    <img src="/images/about3.jpeg" style="border-radius: 15px;" alt="About Us"> <%-- Added alt text --%>
    <div>
        <h2>Who We Are?</h2>
        <p>
            At Criminals, we are passionate about bringing you a shopping experience that is both enjoyable and seamless. 
            Our team is dedicated to curating a wide selection of high-quality products from trusted brands, making sure 
            you find exactly what you're looking for with ease. We believe that shopping should be more than just a 
            transaction — it's about connecting with what you love, whether it’s the latest trends, everyday essentials, 
            or unique finds. With a focus on customer satisfaction, fast delivery, and exceptional service, we’re here 
            to make online shopping better, every step of the way.
        </p>
    </div>
</section>


<%- include('partials/footer') %>