<%- include('partials/header') %>

<h2>Checkout</h2>

<% if (!cart || cart.length === 0) { %>
    <p>Your cart is empty. Please add items to your cart before checking out.</p>
    <a href="/products">Continue Shopping</a>
<% } else { %>

<form action="/checkout" method="post">


    <button type="submit">Place Order</button>
</form>

 <% } %>

<%- include('partials/footer') %>